In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import yfinance as yf
yf.pdr_override()

In [3]:
tickers = ['JBSS3.SA', 'BRFS3.SA']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2017-1-1')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
sec_data.head()

            JBSS3.SA   BRFS3.SA
Date
2017-01-02  9.726716  47.900002
2017-01-03  9.855831  49.500000
2017-01-04  9.855831  48.910000
2017-01-05  9.830009  48.529999
2017-01-06  9.898870  46.220001

In [5]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [6]:
sec_returns

            JBSS3.SA  BRFS3.SA
Date
2017-01-02       NaN       NaN
2017-01-03  0.013187  0.032857
2017-01-04  0.000000 -0.011991
2017-01-05 -0.002623 -0.007800
2017-01-06  0.006981 -0.048770
...              ...       ...
2022-05-09  0.019011  0.027151
2022-05-10 -0.011139  0.020884
2022-05-11  0.001120 -0.015219
2022-05-12  0.021857  0.015219
2022-05-13  0.016556  0.114775

[1334 rows x 2 columns]

In [9]:
print(sec_returns['JBSS3.SA'].mean() * 250)
print(sec_returns['BRFS3.SA'].mean() * 250)

0.2513292351056221
-0.22922576795565122

In [10]:
sec_returns[['JBSS3.SA', 'BRFS3.SA']].std() * 250 * 0.5

JBSS3.SA    3.746295
BRFS3.SA    3.574624
dtype: float64